header {
    background-color: #fe0000;
    height: 100px;
}

nav {
    background-color: #007fff;
    height: 40px;
}

section{
    background-color: #fec6c5;
    position: relative;
    float: left;
    width: 67.5%;
    height: 600px;
}

aside{
    background-color: #fe80fe;
    position: relative;
    float: right;
    width: 27.5%;
    height: 600px;
}

footer{
    background-color: #80ff00;
    height: 40px;
    clear: both;
}
