.initial{
    width: 600px;
    height: 600px;
}

.circle{
    position: relative;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    background-color:#eae8de;
    width: 70%;
    height: 70%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.red{
    background-color: red;
}

.white{
    background-color: white;
}

.line{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-line{
    position: relative;
    top: 189px;
    width: 378px;
    height: 2px;
    background-color: black;
}
.v-line{
    position: relative;
    left: 189px;
    height: 378px;
    width: 2px;
    background-color:  black;
}

.c1{
    width: 90%;
    height: 90%;
}
.c2{
    width: 85%;
    height: 85%;
}
.c3{
    width: 80%;
    height: 80%;
}
.c4{
    width: 75%;
    height: 75%;
}
.c5{
    width: 70%;
    height: 70%;
}
.c6{
    width: 65%;
    height: 65%;
}
.c7{
    width: 60%;
    height: 60%;
}
.c8{
    width: 55%;
    height: 55%;
}
.c9{
    width: 50%;
    height: 50%;
}