div{
    width: 400px;
    padding: 50px;
    margin:50px;
    border-top: 5px dotted green;
    border-right: 10px dashed blue;
    border-bottom: 5px solid red;
    border-left: 10px double black;
}